.nl--about-us{
  .nl--help-section{
    .row{
         img{
         width:100%;
        }
      }
  .description{
    p{
      color:#9fa4af;
      line-height: 25px;
    }
  }
  .heading-text{    
    padding-left: 0px;
    color:#3c3c3c;
    p{
        width: 89%;
    }
  }
  .nl--icon-box{
    i{
      border: 1px solid #dbdbdb;
      padding: 25px;
      text-align: center;
      border-radius: 0px;
      color: #dbdbdb;
      font-size: 30px;
      margin-left: 5px;      
      margin-top: 6px;
    }
  }
  .nl--icon-line-top{
    &:after{
        content: "";
        height: 96px; 
        width: 5px;
        position: relative;
        left: 42px;
        bottom: 0;
        display: flex;
        border-left: 1px solid #dbdbdb;
        margin-bottom: -78px;
        margin-top: 2px;
      }
    }
  }
  .service-section{
    background-color:black;
    .row{
      .heading{
        width: 100%;
        text-align: center;
        padding:0px;
        h2{
          color:white;
          width: 100%;
        }
      }
    }
    .itm-1{
      text-align:center;
      color:white;
      img{
        width: 50px;
      }
    }
  }
    .team-section{
      .nl--icon-line-left:after {
          content: "";
          width: 100%;
          border-bottom: 1px solid #dbdbdb;
          margin-left: -75px;
        }
      }
    .progress{
              width: 100%;
              height: 7px;
              background-color:#cecdcd;
              .progress-bar{
              width: 70%;
              background-color: black;
              color: white;
                         }
             }
             .proj-detail{
             color:white;
           }
    .subscribe-section{
                  p{
                    color:#767373;
                    }
                  input{
                              width:65%;
                              height: 50px;
                              background:#dcddde;
                              border-radius: 0;
                              focus:none;
                      }
                      button{
                      background-color:black;
                      color:white;
                      border:none;
                      width: 25%;
                    }
      ul{
        list-style:none;
        li{
          display: inline-block;
          border-radius: 17px;
          background: #dcddde;
          width: 34px;
          height: 34px;
          text-align: center;
          padding: 5px 10px;
      }
      li:hover {
                background-color: black;
                color:white;
            }
    }
  }
}