.nl--contact-us{
        .icon{
        padding-right:0px;
        }
        .contact{
                 .heading-text{    
                              padding-top: 92px;
                              padding-left: 0px;
                 }
        .nl--icon-box{
        i{
                border: 1px solid #dbdbdb;
                padding: 25px;
                text-align: center;
                border-radius: 0px;
                color: #dbdbdb;
                font-size: 30px;
                margin-top: 68px;
                margin-bottom: 73px;
                margin-left: 5px;
        }
    }
    .nl--icon-line-top{
        &:after{
                content: "";
                height: 96px;
                width: 5px;
                position: relative;
                left: 45px;
                /* top: 0px; */
                bottom: 0;
                display: flex;
                border-left: 1px solid #dbdbdb;
                margin-bottom: -69px;
                margin-top: 2px;
            }
        }
        form{
            padding-left: 35px;
            input{
                width: 100%;
                border: none;
                border-bottom: solid 1px #a09f9f;
                border-radious:0;
                border-radius: 0px;
                &:focus{
                border-bottom:1px solid #000;
                color:#000;
                box-shadow:none;
                }
            }
            textarea{
                border: none;
                border-bottom:solid 1px #a09f9f;
                border-radious:0;
                border-radius: 0px;
                &:focus{
                border-bottom:1px solid #000;
                color:#000;
                box-shadow:none;
                }
            }
            button{
                        background-color: black;
                        border: none;
                        color: white;
                        width: 100%;
                        padding: 10px;
                         border:1px solid transparent;
                         &:hover{
                         color: #000;
                         background: #fff;
                         border:1px solid #000;
                        }
            }
        }
        p{
        width: 76%;
        }
    }
    .nl--icon-line-left{
        &:after{
            content: "";
            height: 0px;
            width: 145%;
            position: relative;
            left: 0;
            bottom: 0;
            top: 109px;
            display: flex;
            border-left: 1px solid #dbdbdb;
            /* margin-bottom: 0px; */
            margin-top: 2px;
            margin-left: -89px;
        }
    }
    
    .icon-size{    
                font-size: 37px;
                padding-right: 0px;
                text-align: right;
    }
    .get-touch{
                padding: 69px 0px 0px 0px;
    }
    .map-contactus{
    height:500px;
    }

}