.nl--summery{
	.summery-hr{
	width: 6%;
    padding-top: 23px;
	-webkit-transform:rotate(90deg);
	}
	p{
	color:#0000008a;
	}
	.summery-image{
	height:50px;
	}
	.summery-text-box{
    width: 88%;
    height: 310px;
	background-color:#423d3ddb;
	    h4{
	    	color:white;
	        padding: 25px 32px;;
	      }
	    hr{
	        border-color: #f8f9fa;
            width: 76%;
           margin-top: -17px;
	    }
	    table{
	    color:white;
	    margin: auto;
	    cellspacing:10;
	    }
	    td{
	    padding: 2px 11px;	    
	    }
	}
	.nl--download-button{
	                     background-color:black;
	                     width:88%;
	                     margin-top: 6px;
	                     height: 50px;
	                     padding: 14px 55px;
	                     
	                     a{
	                     color:white;
	                     }
	}
	.nl--register-button{
	                     background-color:#2c4362;
	                     width:88%;
	                     margin-top: 6px;
	                     height: 49px;
	                     padding: 14px 55px;
						 a{
						 color:white;
						 }

	}
}
.nl--property-detail{
	padding: 56px 6px;
	.description{
	             p{
	                 color:#00000080;
	                 width: 92%;
				  }
				hr{
					margin: 30px 0px 32px;
				  }
	}
	.features{
 	      hr{
 	            width: 94%;
                margin: 30px 0px 32px;;
 	      }
 	     ul {
             -moz-column-count: 3;
             -moz-column-gap: 20px;
             -webkit-column-count: 3;
             -webkit-column-gap: 20px;
             column-count: 3;
             column-gap: 20px;
             list-style:none;
             margin: 0px -42px;
            li{ 
            	display:block;
		  		margin-bottom: 10px;
            	&::before{
            		 content:"\f05d";
				  		color:#81b800;
				  		margin-right: 5px;
            	}
             }
			}
		}
		.nl--inquire-button{
							background-color: black;
						    height: 53px;
						    width: 50%;
						    padding: 14px 70px;
						    margin-top: 50px;

						    a{
						    color:white;
						    }
							}
}
.nl--location-portion{
				margin-bottom: 6%;
					.location{
							hr{
							margin-bottom: 27px;
							}
							.map {
							        margin: 0;
							        padding: 0;
							        height: 85%;
							      }
					}
					.for-plan{
							img{
							    margin-top: 12px;
							}
						}
}
.nl--related-properties{
					hr{
					    width: 77%;
    					margin-left: 0px;
					}
}
.nl--agents{
			margin-bottom:50px;
				img{
					margin: 5px 6px 0px;
					}
			.nl--agents-section{
								margin-top:35px;
								
								
								p{
								color:#000000cf;
								}
								hr{
								    margin: 40px -9px;
								}
								.heading{
								margin: -9px;
								}
								
			}
		.detail{
		    margin-left: -26px;
		    h4{
		    padding-top: 9px;
		    }
		    p{
		      margin: -3px 0px 10px;
		      color:#000000b5;
		    }
		}
		.social-links{
						float: right;
    					margin-top: -34px;
						ul{
							list-style: none;
    						display: inline-flex;
    						li{
    							padding-left: 13px;
    						}
						  }
		}
}
.post{
	color:#00000080;
	}
.nl--request-button{
					    background-color: #2c4362;
					    height: 51px;
					    width: 39%;
					    padding: 14px 38px;
					    margin-top: 4px;

						a{
						  color:white;
						  }
					}

.prp-hr{
    width: 114% !important;
    margin-left: -21px !important;
}
