.nl--listing-page{
	.search-section{
					background-color:#efefef;
				    padding-bottom: 75px;
					h3{
					padding: 48px 0px 0px;
    				margin-bottom: 27px;
					}
					padding: 0px 20px 50px;
						input[type="text"]{
						    width: 100%;
						    height: 50px;
						    border: none;
						    margin-bottom: 15px;
						    text-indent: 17px;
						}
				.range-background{
						label{
					        float: right;
    						margin-top: 5px;
						}
					    background-color: #fff;
						width: 100%;
						height: 50px;
						padding: 7px 17px 0px;
				}
	}
	.categories-portion{
	margin-top: 42px;
						h3{
					       padding: 0px 0px 0px;
					      }
					.cat-ul{
					          li{    
					          padding-left: 0px;
    					      border: none;
    					      background-color:#efefef;
						    					   span{
						    					      	    float: right;
						    					      	}
					          }
					          input{
								        height: 19px;
                                        width: 6%;
                                        margin-right: 11px;
                                        block-size: 18px;
					          }
					        }
	}
	.saleprice-portion{
						margin-top: 42px;
					h3{
					       padding: 0px 0px 0px;
					   }
					   .price-section{
							   		input{
									   
										    height: 50px;
										    margin-right: 9px;
										    border: none;
										    text-indent: 17px;
							   		}
					   }
	}
	.bedroom-portion{
					margin-top: 45px;
					h3{
					       padding: 0px 0px 0px;
					   }
					   .bed-section{
							   		input{
									   		
										    height: 50px;
										    margin-right: 9px;
										    border: none;
										    text-indent: 17px;
							   		}
					   }
	}
	.bathroom-portion{
					margin-top: 45px;
					h3{
					       padding: 0px 0px 0px;
					   }
					   .bath-section{
							   		input{
									   		
										    height: 50px;
										    margin-right: 9px;
										    border: none;
										    text-indent: 17px;
							   		}
					   }
	}
	.property-type-portion{
					margin-top: 45px;
						h3{
					       padding: 0px 0px 0px;
					      }
					.type-ul{
					          li{    
					          padding-left: 0px;
    					      border: none;
    					      background-color:#efefef;
					          }
					          input{
								        height: 19px;
                                        width: 6%;
                                        margin-right: 11px;
                                        block-size: 18px;
					          }
					        }
	}
	.new-homes-portion{
					margin-top: 45px;
						h3{
					       padding: 0px 0px 0px;
					      }
					.homes-ul{
					          li{    
					          padding-left: 0px;
    					      border: none;
    					      background-color:#efefef;
					          }
					          input{
								        height: 19px;
                                        width: 6%;
                                        margin-right: 11px;
                                        block-size: 18px;
					          }
					        }
	}
	.search-button{
					width: 100%;
				    background-color: black;
				    padding: 14px 112px;
				    margin-left: 0px;
				    margin-top: 45px;
				    a{
				    color:white !important;
				    }
	}
	.listing-section{
	                 padding-left: 35px;
                     padding-right: 0px;
                    .property{
                    			margin-top: 15px;
                    			img{
                    			width:100%;
                    			}
			                   .row{
								    padding-top: 23px;
								    padding-left: 14px;
								    margin-bottom: 33px;
			                     }
			                    .property-detail
			                          {
			                          padding: 1px 0px 5px 30px;
			                          line-height: initial;
			                          span{
			                          color:#969191;
			                          font-style:unset;
			                              }
			                          .span2{
			                          		    color: #2c4362;
    											font-size: 25px;
			                          		}
			                        hr{
										    width: 84%;
										    margin-top: 8px;
										    margin-left: 0px;
			                          }
			                          }
			                          hr{
			                          	width: 100%;
    								  	margin-top: 8px;
			                          }
			                          ul{ 
			                              width:100%;
			                          	li{
			                          		margin-right: 40px;
										    width: max-content;
										    display: inline-block;
										    margin-bottom: 10px;
			                          		i{
				                          		margin-right: 10px;
			                          		}
			                          	}
			                          }
                     }
                     
                     h3{
                         margin-bottom: 34px;
                     }
                     span{
                     		color:#969191;
                     	    font-style: italic;
                     }
                     label{
                     		color:#969191;
                     }
                     
                   .drpdown{
                   			float:right;
                   			outline: none;
                    select{
                     border: none;
                     outline: none;
                     option{
                     border:none;
                     }
                     }
                     }

	}

}
.i-spn{
	margin-left: 20px !important;
}

.pagination {
    display: inline-block;
    margin-bottom: 24px;

}

.pagination a {
    color: #767575;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 26px;
}
.active{
	text-decoration:underline !important;

}






input[type=range] {
  -webkit-appearance: none;
  margin: 13.8px 0;
  width:60%;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: #454141;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 10px;
  background: #454141;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #454141;
  width: 80%;
}
input[type=range]::-moz-range-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: #454141;
  border: 0.2px solid #454141;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #454141;
  height: 36px;
  width: 10px;
  background: #454141;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #454141;
  border: 0.2px solid #454141;
}
input[type=range]::-ms-fill-upper {
  background: #454141;
  border: 0.2px solid #454141;
}
input[type=range]::-ms-thumb {
  border: 1px solid #454141;
  height: 36px;
  width: 10px;
  background: #454141;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #454141;
}
input[type=range]:focus::-ms-fill-upper {
  background: #454141;
}
