/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen and (width: 1920px){
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 70px;
    margin-left: 17px;
    width: 1061px;
    padding: 16px 21px 6px 30px;
    color: #666666;
    border-radius: 5px;
  }
  .nl--slider-form {
    background: #111111;
    padding: 75px 25px 50px 25px;
    width: 22%;
    position: absolute;
    right: 22.5%;
    top: 19%;
  }
  .carousel-inner .carousel-item .caption {
    position: absolute;
    top: 23%;
    left: 22%;
    width: 26%;
    padding: 30px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s;
  }
}
@media only screen and (width: 1600px){
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 70px;
    margin-left: 17px;
    width: 1061px;
    padding: 16px 21px 6px 30px;
    color: #666666;
    border-radius: 5px;
  }
  .nl--slider-form {
    background: #111111;
    padding: 36px 25px 25px 25px;
    width: 542px;
    position: absolute;
    right: 266px;
    top: 219px;
  }
  .carousel-inner .carousel-item .caption {
    position: absolute;
    top: 23%;
    left: 255px;
    width: 26%;
    padding: 30px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s;
  }
}

@media only screen and (width: 1440px) {
  .carousel-inner .carousel-item .caption{
    left: 184px;
  }
  .nl--slider-form {
    background: #111111;
    padding: 27px 25px 9px 25px;
    width: 515px;
    position: absolute;
    right: 192px;
    top: 208px;
  }
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: -175px;
    margin-left: 20px;
    width: 1062px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px;
  }
}
@media only screen and (width: 1440px) and (height:900px) {
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 118px;
    margin-left: 28px;
    width: 1045px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px;
  }
}

@media only screen and (width: 1366px) and (height:768px) {
   .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 19px;
    margin-left: -14px;
    width: 1126px;    
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px;
  }
}

@media only screen and (width: 1366px) {
  .carousel-inner .carousel-item .caption{
    left: 141px;
  }
  .nl--slider-form {
    background: #111111;
    padding: 27px 25px 9px 25px;
    width: 450px;
    position: absolute;
    right: 150px;
    top: 208px;
  }
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 34px;
    margin-left: -14px;
    width: 1126px;    
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px;
  }
}

@media only screen and (width: 1281px) {
  
 
  .nl--slider-form {
    background: #111111;
    padding: 27px 25px 9px 25px;
    width: 515px;
    position: absolute;
    right: 195px;
    top: 207px;
  }
  .carousel-inner .carousel-item .caption {
    position: absolute;
    top: 30%;
    left: 180px;
    width: 33%;
    padding: 30px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s;
  }
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 90px;
    margin-left: 21px;
    width: 1057px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px;
  }  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
 

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* Home Page*/
  .navbar-brand img {
    width: 65px;
  }
  #demo {
    margin-top: -7px;
  }
  .nl--filter-form{
      position: relative;
    bottom: -19px;
    margin-left: auto;
    width: 100%;
    padding: 17px 0px 9px 0px;
  }
  .nl-form-drager{
    display:block;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bolder;
    top: 109px;
  }
  .nl--slider-form {
    padding: 12px;
    width: 96%;
    right: 0;
    top: 15%;
    left: 6px;
    position: fixed;
    z-index: 11;
    display:none;
  }
  
  .carousel-inner .carousel-item .caption{
    top: 5%;
    left: 19%;
    width: 59%;
  }
  .nl--slider-form{
    top: 18%;
    left: 14px;
  }
    .nl--event{
    i{
      text-align:center;
    }
    .heading{
      border:none;
      width:100%;
      text-align:center;
      display: inline-block;
    }
    .desc{
      width:100%;
      text-align:center;
      display: inline-block;
    }
    a{
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }
  .nl--card-personal{
    .link{
      margin: 50% 15%;
    }
  } 
  /* About page */
  .nl--about-us{
    .proj-detail{
      h3{
        font-size:24px;
      }
      h2{
        font-size:26px;
      }
      h6{
        font-size:13px;
      }
   }
    .subscribe-section{
      h2{
        font-size:24px;
      }
      form{
        button{
          width:35%;
        }
      }
    }
  }
  /* team */
  .nl--team{
    h2{
      font-size: 30px;
    }
  }

  /* Contact  */
  .nl--contact-us{
    .contact{
      p{
        width:100%;
      }
    }
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* Home Page */
  .navbar-brand img{
    width: 40px;
    margin-top: -10px;
  }
  #demo {
    margin-top: -8px;
  }
  .carousel-inner .carousel-item .caption{
    display:none;
  }
  .nl-form-drager{
  display:block;
  }
  .nl--slider-form {
    padding: 12px;
    width: 96%;
    right: 0;
    top: 15%;
    left: 6px;
    position: fixed;
    z-index: 11;
    display:none;
  }
  .nl--filter-form {
    position: relative;
    bottom: 0;
    margin-left: 0;
    width: 100%;
    padding: 17px 21px 9px 21px;
    .search-btn{
      margin-top: 16px;
    }
  }


  .nl--menu {
    margin-top: 0px;
      .navbar-nav{
        .nav-item{
        &:hover{
          &after{
            width: 26%;
            margin: auto 16px;
          }
        }        
      }
    } 
  }
  .navbar .mega-dropdown .dropdown-menu.mega-menu{
    margin-top: -25px;
  }
  .nl--cards-button{
      text-align:center;
    a {
     padding: 14px 15px;
    } 
  }
  .nl-black-background{
    font-size:12px;
  }
  .nl--projects{
    text-align:center;
    .text-left{
      text-align:center !important;
    }
  }
  .nl--card-personal {
    margin-right: 0;
    .card-body{
      span{
        margin-left: 3px;
        font-size: 13px;
      }
    } 
  }
  .nl--testimonials{
    .nl--icon-box{
      i{
        margin-top: 27px;
        margin-bottom: 27px;
        margin-left: 0;
      }
    }
    .font-weight-bold{
      font-size:16px;
    }
    .brands_col{
      .row{
        .name{
          text-align:center;
        }
      }
    } 
  } 
  .nl--invest{
    .nl--icon-box{
      i{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
      }
    }
    .text-white{
      margin-top:20px;
      font-size:14px;
      text-align:center;
    }
    .grey-text{
      font-size: 12px;
      width: 100%;
      text-align: justify;
    }
    .nl--invest-button{
      text-align:center;
    }
  }
  .nl--event{
    i{
      text-align:center;
    }
    .heading{
      border:none;
      width:100%;
      text-align:center;
      display: inline-block;
    }
    .desc{
      width:100%;
      text-align:center;
      display: inline-block;
    }
    a{
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }
  .nl--footer{
      text-align:center;
    .about-nl{
      margin-top:16px;
    }
    .latest-properties{
      p{
        width: 71%;
        margin-left: 6px;
      }
      img{
        margin-bottom: 0px;
      }
    }
    .nl--useful-links,.nl--partners,.latest-properties{
      margin-top:25px;
      hr{
        margin-left:auto;
      }
    }
    .nl--useful-links{
      padding-left:15px;
      h5,ul,p{
        margin-left: auto;
      }
    }
    
  } 

 /* About Page */
 .nl--about-us{
  .nl--help-section{
    .heading-text{
      text-align:center;
      p{
        width:100%;
      }
    }
    .description{
      p{
        text-align:justify;
      }
    }
  }

  .service-section{
    .row{
      .heading{
        h2{
          font-size:28px;
        }
      }
    }
  }
  .subscribe-section{
    h2{
      font-size: 20px;
      text-align: center;
    }
    form{
      button{
        width: 35%;
      }  
    } 
  }
  .proj-detail{
    .float-right{
      text-align:center;
      float:unset !important;
      margin: 18px auto;
    }
    h3{
      font-size: 22px;
    }
  }    
 }
  /*  Team Page  */
  .detail{
    text-align:center;
    h2{
      font-size:30px;
    }
  }

  /* Contact Page */
  .nl--contact-us{
    .contact{
      .nl--icon-box{
        i{
          margin-top: 30px;
          margin-bottom: 20px;
        }
        h3{
          font-size: 24px;
        }
      }
      p{
        text-align:center;
        width:100%;
      }
      form{
        padding-left:15px;
      }
    }
    .icon-size{
      text-align:center;
      margin: 20px 0;
    }
    .get-touch{
      padding: 12px;
    }
  } 
}

@media only screen and (width: 1280px) and (height:950px) {
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 219px;
    margin-left: 30px;
    width: 1041px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px;
  }
}