// 1 - Load project variables.
// 2 - Load bootstrap sass files.
// 3 - Load custom app sass files.

// --------------------------------------------------------
//  Import in the default bootstrap variables.
//  Then override bootstrap default with project specific values.
// --------------------------------------------------------

@import "../bower_components/bootstrap/scss/variables";
@import "variables";

// --------------------------------------------------------
// Import required bootstrap sass files needed for this project.
// Uncomment any bootstrap functionality required for this project.
// The idea is to keep this as small as possible.
// --------------------------------------------------------*/

/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/mixins";



/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/normalize";
//@import "../bower_components/bootstrap/scss/print";



/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/reboot";
//@import "../bower_components/bootstrap/scss/type";
//@import "../bower_components/bootstrap/scss/images";
//@import "../bower_components/bootstrap/scss/code";
//@import "../bower_components/bootstrap/scss/grid";
//@import "../bower_components/bootstrap/scss/tables";
//@import "../bower_components/bootstrap/scss/forms";
//@import "../bower_components/bootstrap/scss/buttons";



/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/animation";
//@import "../bower_components/bootstrap/scss/dropdown";
//@import "../bower_components/bootstrap/scss/button-group";
//@import "../bower_components/bootstrap/scss/input-group";
//@import "../bower_components/bootstrap/scss/custom-forms";
//@import "../bower_components/bootstrap/scss/nav";
//@import "../bower_components/bootstrap/scss/navbar";
//@import "../bower_components/bootstrap/scss/card";
//@import "../bower_components/bootstrap/scss/breadcrumb";
//@import "../bower_components/bootstrap/scss/pagination";
//@import "../bower_components/bootstrap/scss/pager";
//@import "../bower_components/bootstrap/scss/labels";
//@import "../bower_components/bootstrap/scss/jumbotron";
//@import "../bower_components/bootstrap/scss/alert";
//@import "../bower_components/bootstrap/scss/progress";
//@import "../bower_components/bootstrap/scss/media";
//@import "../bower_components/bootstrap/scss/list-group";
//@import "../bower_components/bootstrap/scss/responsive-embed";
//@import "../bower_components/bootstrap/scss/close";



/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/modal";
//@import "../bower_components/bootstrap/scss/tooltip";
//@import "../bower_components/bootstrap/scss/popover";
//@import "../bower_components/bootstrap/scss/carousel";



/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */

//@import "../bower_components/bootstrap/scss/utilities";
//@import "../bower_components/bootstrap/scss/utilities-background";
//@import "../bower_components/bootstrap/scss/utilities-spacing";
//@import "../bower_components/bootstrap/scss/utilities-responsive";


/* --------------------------------------------------------
   Common styles
   -------------------------------------------------------- */

@import "common";


/* --------------------------------------------------------
   Homepage styles
   -------------------------------------------------------- */

@import "base";


/* --------------------------------------------------------
   About styles
   -------------------------------------------------------- */

@import "about";   


/* --------------------------------------------------------
   Contact styles
   -------------------------------------------------------- */

@import "contact";   

/* --------------------------------------------------------
   Listing styles
   -------------------------------------------------------- */

@import "listing";   

/* --------------------------------------------------------
   Listing detail styles
   -------------------------------------------------------- */

@import "listing_detail";   


/* --------------------------------------------------------
   Projects styles
   -------------------------------------------------------- */

@import "project";   

/* --------------------------------------------------------
   Team styles
   -------------------------------------------------------- */

@import "team"; 

/* --------------------------------------------------------
   builder projects styles
   -------------------------------------------------------- */

@import "builder_projects";   


/* --------------------------------------------------------
   builders styles
   -------------------------------------------------------- */

@import "builders";

/* --------------------------------------------------------
   Responsive
   -------------------------------------------------------- */

@import "responsive";   
