/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Common styles
   -------------------------------------------------------- */
* {
  font-family: 'Lato', sans-serif;
  font-weight: regular; }

.navbar {
  box-shadow: unset;
  background: transparent;
  z-index: 9; }
.act_a{
color:black;}
.act_a:hover{
color:black;

text-decoration:none;}
.a_link_footer{
color:#656565 !important;
}
.a_link_footer:hover{
color:#656565 !important;
}
.nl--variant{
      padding: 11px 36px 8px 35px;
}
.nl--variant select{
      width: 100%;
    height: 37px;
        border: none;
}
.nl--propertydetail-model{
    top: 0px !important;
    right: 0px !important;
  }

.navbar-brand img {
  width: 123px; }

.navbar .nav-item .nav-link {
  color: #000;
  font-weight: 400; }

.nl--menu {
  margin-top: -45px; }
  .nl--menu .navbar-nav .nav-item .nav-link {
    padding: .1rem 1rem; }
  .nl--menu .navbar-nav .nav-item:hover:after {
    height: 2px;
    display: block;
    width: 60%;
    background: #808080;
    border-right: 1px white;
    content: '';
    margin: auto; }

.navbar .mega-dropdown {
  position: static !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu {
  width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top: -98px; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .news-title {
  font-size: 1.1rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .news-title.smaller {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .sub-title {
  border-bottom: 1px solid #e0e0e0; }

.nav-item.dropdown.mega-dropdown.active:after {
  height: 2px;
  display: block;
  width: 60%;
  background: #808080;
  border-right: 1px white;
  content: '';
  margin: auto; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a {
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a:hover {
  background-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-single {
  border-bottom: 1px solid #e0e0e0; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-title {
  color: #4f4f4f !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-title:hover {
  color: #2196f3 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .m-sm {
  margin-bottom: -6px;
  font-size: .9rem;
  color: #2196f3 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .m-sm:hover {
  color: #2196f3 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu .news-title {
  color: #000 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu ul li a {
  color: #000 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu ul li a:hover {
  color: #000 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu .sub-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu ul li a {
  color: #000 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu ul li a:hover {
  color: #000 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu .news-title {
  color: #000 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu .news-title:hover {
  color: #e0e0e0 !important; }

/*********************** Demo - 15 *******************/
.box16 {
  text-align: center;
  color: #fff;
  position: relative; }

.box16 .box-content, .box16:after {
  width: 100%;
  position: absolute;
  left: 0; }

.box16:after {
  content: "";
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.08) 69%, rgba(0, 0, 0, 0.76) 100%);
  top: 0;
  transition: all .5s ease 0s; }

.box16 .post, .box16 .title {
  transform: translateY(145px);
  transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s; }

.box16 img {
  width: 100%;
  height: auto; }

.box16 .box-content {
  padding: 20px;
  height: 107%;
  margin-bottom: -14px;
  bottom: 0;
  z-index: 1; }

.box16 .title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  text-align: left; }

.box16 .post {
  display: block;
  padding: 3px 0;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  color: #fff; }

.box16 .post:after {
  content: "";
  width: 25px;
  height: 2px;
  background: #f44336;
  position: absolute;
  top: 29px;
  bottom: 0;
  left: 0; }

.box16 .details {
  display: none;
  padding: 0px 0;
  font-size: 15px;
  text-align: left; }

.box16:hover .post, .box16:hover .title {
  transform: translateY(0); }

.box16:hover .title {
  margin-top: 25%; }

.box16:hover .details {
  display: block;
  margin-top: 23px;
  font-family: lato; }

.box16:hover .post:after {
  background: #fff; }

.box16 .social li a:hover {
  background: #bea041; }

.box16 .social li:last-child a {
  margin-right: 0; }

.box16:hover .box-content {
  background: #212121; }
.nl---Download_payment_a{display:none;}
@media only screen and (max-width: 990px) {
  .box16 {
    margin-bottom: 30px; } }

.nl-black-background {
  background: #212121;
  width: 100%;
  display: block;
  position: relative;
  min-height: 1px; }

.nl--achivements {
  position: relative; }
  .nl--achivements div:nth-last-child(1) {
    padding-top: 80px; }

#demo {
  margin-top: -181px; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.carousel-inner .carousel-item .caption {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 30%;
  padding: 30px;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: 0.5s; }

.carousel-inner .carousel-item .caption img {
  position: absolute;
  left: 8%;
  top: 0;
  height: auto;
  width: 16%; }

.carousel-inner .carousel-item .caption .address {
  position: absolute;
  left: 25%;
  top: 25%;
  font-size: 16px;
  color: #fff; }

.carousel-inner .carousel-item .caption h2 {
  position: absolute;
  left: 34px;
  top: 45%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.5s; }

.carousel-inner .carousel-item .caption .desc {
  position: absolute;
  left: 34px;
  top: 57%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  transition: 0.5s; }

.carousel-inner .carousel-item .caption .caption-btn {
  position: absolute;
  left: 34px;
  top: 78%;
  color: #000;
  background: #fff;
  transition: 0.5s;
  padding: 10px 35px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent; }
  .carousel-inner .carousel-item .caption .caption-btn:hover {
    color: #fff;
    background: #000;
    border: 1px solid #fff; }

.nl-form-drager {
  display: none;
  background: #111111;
  height: 26px;
  width: 25px;
  position: absolute;
  right: 5px;
  text-align: center;
  border-radius: 50px;
  top: 62px; }
  .nl-form-drager i {
    color: #fff; }

.nl--slider-form {
  background: #111111;
  padding: 55px 25px 25px 25px;
  width: 30%;
  position: absolute;
  right: 22%;
  top: 27%; }
  .nl--slider-form input[type="text"] {
    border-radius: 0;
    border: none; }
  .nl--slider-form textarea {
    border-radius: 0;
    border: none; }
  .nl--slider-form input[type="submit"] {
    border-radius: 0;
    border: none; }
  .nl--slider-form span p {
    margin: 0; }

.nl--filter-form {
  background: #fff;
  position: absolute;
  bottom: -86%;
  margin-left: 43px;
  width: 60%;
  padding: 17px 21px 9px 30px;
  color: #666666;
  border-radius: 5px; }
  .nl--filter-form .search-btn {
    background: #111111;
    color: #fff;
    border-radius: 3px;
    margin-top: -7px; }

/* Footer Section */
.nl--footer {
  background-color: #212121;
  padding-left: 0px; }
  .nl--footer .about-nl {
    margin-top: 56px;
    color: #656565;
    width: 100%;
    padding: 0px; }
    .nl--footer .about-nl p {
      margin-bottom: 3px; }
    .nl--footer .about-nl ul {
      list-style: none;
      padding-left: 0px;
      margin-bottom: 4px; }
      .nl--footer .about-nl ul li {
        padding-top: 8px; }
        .nl--footer .about-nl ul li i {
          padding-right: 10px; }
    .nl--footer .about-nl .social-links ul {
      display: -webkit-inline-box; }
    .nl--footer .about-nl img {
      margin-bottom: 6px; }
  .nl--footer .latest-properties {
    margin-top: 70px; }
    .nl--footer .latest-properties hr {
      border-color: red;
      width: 11%;
      margin-left: 0px;
      margin-bottom: 26px;
      margin-top: 25px; }
    .nl--footer .latest-properties h5 {
      color: white;
      margin-left: 0px; }
    .nl--footer .latest-properties p {
      color: #656565;
      width: 60%;
      margin-left: 20px; }
    .nl--footer .latest-properties img {
      margin: 0px;
      margin-bottom: 15px; }
  .nl--footer .nl--partners {
    margin-top: 70px; }
    .nl--footer .nl--partners hr {
      border-color: red;
      width: 15%;
      margin-left: 0px;
      margin-bottom: 26px;
      margin-top: 25px; }
    .nl--footer .nl--partners h5 {
      color: white;
      margin-left: 0px; }
    .nl--footer .nl--partners img {
      margin-right: 4px; }
    .nl--footer .nl--partners .row {
      margin-bottom: 10px; }
  .nl--footer .nl--useful-links {
    margin-top: 70px;
    padding-left: 50px; }
    .nl--footer .nl--useful-links hr {
      border-color: red;
      width: 30%;
      margin-left: -25px;
      margin-bottom: 26px;
      margin-top: 25px; }
    .nl--footer .nl--useful-links h5 {
      color: white;
      margin-left: -28px; }
    .nl--footer .nl--useful-links ul {
      color: #656565;
      margin-left: -25px;
      list-style: none;
      padding: 0px; }
.nl--footer .nl--useful-links ul a{
color:#656565;}
    .nl--footer .nl--useful-links p {
      color: #656565;
      width: 100%;
      margin-left: -25px; }

.nl--copy-rights {
  background-color: black;
  color: white;
  padding: 20px 0px 1px;
  text-align: center; }

.team_images {
  padding: .25rem;
  background-color: #fff;
  border-radius: 1.25rem;
  max-width: 100%;
  height: -webkit-fill-available; }

/* Gallery */
/*********************** Demo - 19 *******************/
.box19 {
  text-align: center;
  position: relative; }

.box19 .box-content {
  width: 100%;
  height: 100%;
  background: 0 0;
  padding-top: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease 0s;
  border-radius: 8px; }

.box19 .icon, .box19 .title {
  transition: all .2s ease 0s; }

.box19:hover .box-content {
  background: rgba(0, 0, 0, 0.5); }

.box19 .title {
  font-size: 24px;
  color: #fff;
  transform: scale(0); }

.box19:hover .title {
  transform: scale(1); }

.box19 .icon {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0; }

.box19:hover .icon {
  opacity: 1; }

.box19 .icon li {
  display: inline-block; }

.box19 .icon li a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
  position: relative; }

.box19 .icon li a {
  top: -150px; }

.box19:hover .icon li a {
  top: 0; }

.box19 .icon li a {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s; }

@media only screen and (max-width: 990px) {
  .box19 {
    margin-bottom: 30px; } }

@media only screen and (max-width: 360px) {
  .box19 .box-content {
    padding-top: 20%; } }
	


/* Gallery */
/* --------------------------------------------------------
   Homepage styles
   -------------------------------------------------------- */
.nl--icon-line-left:after {
  content: "";
  height: 5px;
  width: 200%;
  position: relative;
  left: -130px;
  top: 50px;
  bottom: 0;
  display: flex;
  border-bottom: 1px solid #dbdbdb; }

.nl--icon-line-top:after {
  content: "";
  height: 90px;
  width: 5px;
  position: relative;
  left: 42.5px;
  top: 0px;
  bottom: 0;
  display: flex;
  border-left: 1px solid #dbdbdb;
  margin-bottom: -5px;
  margin-top: -85px; }

.nl--projects .nl--icon-box i {
  border: 1px solid #dbdbdb;
  padding: 25px;
  text-align: center;
  border-radius: 4px;
  color: #dbdbdb;
  font-size: 30px;
  margin-top: 5px; }

.nl--card-personal .card-body .card-text {
  color: #000000bf;
 /* height: 80px; */
  }

.nl--card-personal .card img {
  height: 280px; }

.nl--card-personal .card-footer span {
  margin-right: 12px;
  color: #00000075; }

.nl--card-personal .card-footer i {
  color: #00000075;
  margin-right: 7px; }

.nl--card-personal .link {
  overflow: hidden;
  cursor: pointer;
  color: #f8f9fa;
  position: absolute;
  margin: auto;
  background-color: black;
  padding: 10px 14px;
  display: none;
  text-decoration: none;
  top: 25%;
  left: 30%; }

.nl--card-personal:hover .link {
  display: block; }

.nl--card-personal:hover .card {
  box-shadow: 0px 4px 25px 2px rgba(0, 0, 0, 0.125); }

.nl--card-personal hr {
  width: 100%;
  margin-left: -20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.nl--card-personal .location {
  background-color: black;
  color: white;
  padding: 16px; }

.nl--cards-button {
  padding-left: inherit; }

.nl--cards-button a {
  background-color: #2c4362;
  color: white;
  padding: 25px 55px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase; }

.nl--testimonials {
  height: auto;
  margin-bottom: 50px;
  position: relative;
  padding-top: 35px; }
  .nl--testimonials .nl--icon-box i {
    border: 1px solid #dbdbdb;
    padding: 25px;
    text-align: center;
    border-radius: 0px;
    color: #dbdbdb;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 73px;
    margin-left: 5px; }
  .nl--testimonials .nl--icon-line-top:after {
    content: "";
    height: 90px;
    width: 5px;
    position: relative;
    left: 42.5px;
    top: 0px;
    bottom: 0;
    display: flex;
    border-left: 1px solid #dbdbdb;
    margin-bottom: -5px;
    margin-top: -85px; }
  .nl--testimonials .font-weight-bold {
    text-transform: uppercase; }
  .nl--testimonials .grey-text {
    color: #616161; }
  .nl--testimonials .text-left {
    color: white; }
  .nl--testimonials .nl--testimonial-button a {
    background-color: #2c4362;
    color: white;
    padding: 15px 32px;
    border-radius: 3px; }
  .nl--testimonials .brands_col .row p {
    text-align: left;
    font-size: 13px; }
  .nl--testimonials .brands_col .row .name {
    text-transform: uppercase; }

.card .carousel-item {
  height: 200px; }

.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d; }
  .card .carousel-caption h3 {
    color: #3d3d3d; }
  .card .carousel-caption p {
    line-height: 30px; }
  .card .carousel-caption .col-sm-3 {
    display: flex;
    align-items: center; }
  .card .carousel-caption .col-sm-9 {
    text-align: left; }

.card .carousel-control-prev, .card .carousel-control-next {
  color: #3d3d3d !important;
  opacity: 1 !important; }

/* Carosal/slider for testimonials */
.brands_col {
  float: left;
  padding: 0 0px;
  text-align: center;
  width: 100%;
  color: #fff; }

.brands_col img {
  opacity: 1; }
.agent_img {
    max-width: 100%;
  opacity: 1; }
.agent_image {
    max-width: 800%;
  opacity: 1; }

.brands_col img:hover {
  opacity: unset; }

.last_slider .owl-buttons {
  position: absolute;
  right: 0;
  top: -42px;
  width: auto;
  z-index: 50;
  display: none; }

.last_slider .owl-prev {
  background-color: #005EB8;
  border-radius: 0px;
  color: #fff;
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 9px; }

.last_slider .owl-next {
  background-color: #005EB8;
  border-radius: 0;
  color: #fff;
  float: right;
  margin: 0;
  padding: 5px 9px; }

.last_slider .owl-prev:hover {
  background: #083d77 none repeat scroll 0 0;
  color: #fff; }

.last_slider .owl-next:hover {
  background: #083d77 none repeat scroll 0 0;
  color: #fff; }

.owl-carousel .owl-wrapper::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden; }

.owl-carousel {
  display: none;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  transition: height 500ms ease-in-out 0s; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
  display: none; }

.owl-controls {
  -moz-user-select: none; }

.grabbing {
  cursor: url("grabbing.png") 8 8, move; }

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px); }

/*************************
ooooowwwwwwllll end
*************************/
.nl--invest {
  width: 100%;
  background: url(../images/invest-bg.png);
  height: max-content;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1px; }
  .nl--invest .nl--icon-box i {
    border: 1px solid #dbdbdb;
    padding: 25px;
    text-align: center;
    border-radius: 0px;
    color: #dbdbdb;
    font-size: 30px;
    margin-top: 69px;
    margin-bottom: 73px;
    margin-left: 5px; }
  .nl--invest .nl--icon-line-top:after {
    content: "";
    height: 96px;
    width: 5px;
    position: relative;
    left: 46px;
    top: 0px;
    bottom: 0;
    display: flex;
    border-left: 1px solid #dbdbdb;
    margin-bottom: -69px;
    margin-top: 30px; }
  .nl--invest .grey-text {
    color: #616161;
    font-size: 12px;
    width: 85%; }
  .nl--invest .text-white {
    margin-top: 75px;
    text-transform: uppercase; }
  .nl--invest .nl--invest-button {
    padding-bottom: 30px; }
    .nl--invest .nl--invest-button a {
      background-color: #000;
      color: #fff;
      border: .5px solid #fff;
      padding: 8px 25px;
      text-decoration: none; }
      .nl--invest .nl--invest-button a:hover {
        background-color: #fff;
        color: #000;
        border: .5px solid #000; }

.nl--event .heading {
  font-size: 35px;
  border-right: 2px solid #111; }

.nl--event .desc {
  font-size: 18px; }

.nl--event a {
  color: #59a6f9;
  text-decoration: underline;
  font-size: 18px; }

/* --------------------------------------------------------
   About styles
   -------------------------------------------------------- */
.nl--about-us .nl--help-section .row img {
  width: 100%; }

.nl--about-us .nl--help-section .description p {
  color: #9fa4af;
  line-height: 25px; }

.nl--about-us .nl--help-section .heading-text {
  padding-left: 0px;
  color: #3c3c3c; }
  .nl--about-us .nl--help-section .heading-text p {
    width: 89%; }

.nl--about-us .nl--help-section .nl--icon-box i {
  border: 1px solid #dbdbdb;
  padding: 25px;
  text-align: center;
  border-radius: 0px;
  color: #dbdbdb;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 6px; }

.nl--about-us .nl--help-section .nl--icon-line-top:after {
  content: "";
  height: 96px;
  width: 5px;
  position: relative;
  left: 42px;
  bottom: 0;
  display: flex;
  border-left: 1px solid #dbdbdb;
  margin-bottom: -78px;
  margin-top: 2px; }

.nl--about-us .service-section {
  background-color: black; }
  .nl--about-us .service-section .row .heading {
    width: 100%;
    text-align: center;
    padding: 0px; }
    .nl--about-us .service-section .row .heading h2 {
      color: white;
      width: 100%; }
  .nl--about-us .service-section .itm-1 {
    text-align: center;
    color: white; }
    .nl--about-us .service-section .itm-1 img {
      width: 50px; }

.nl--about-us .team-section .nl--icon-line-left:after {
  content: "";
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  margin-left: -75px; }

.nl--about-us .progress {
  width: 100%;
  height: 7px;
  background-color: #cecdcd; }
  .nl--about-us .progress .progress-bar {
    width: 70%;
    background-color: black;
    color: white; }

.nl--about-us .proj-detail {
  color: white; }

.nl--about-us .subscribe-section p {
  color: #767373; }

.nl--about-us .subscribe-section input {
  width: 65%;
  height: 50px;
  background: #dcddde;
  border-radius: 0;
  focus: none; }

.nl--about-us .subscribe-section button {
  background-color: black;
  color: white;
  border: none;
  width: 25%; }

.nl--about-us .subscribe-section ul {
  list-style: none; }
  .nl--about-us .subscribe-section ul li {
    display: inline-block;
    border-radius: 17px;
    background: #dcddde;
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 5px 10px; }
  .nl--about-us .subscribe-section ul li:hover {
    background-color: black;
    color: white; }

/* --------------------------------------------------------
   Contact styles
   -------------------------------------------------------- */
.nl--contact-us .icon {
  padding-right: 0px; }

.nl--contact-us .contact .heading-text {
  padding-top: 92px;
  padding-left: 0px; }

.nl--contact-us .contact .nl--icon-box i {
  border: 1px solid #dbdbdb;
  padding: 25px;
  text-align: center;
  border-radius: 0px;
  color: #dbdbdb;
  font-size: 30px;
  margin-top: 68px;
  margin-bottom: 73px;
  margin-left: 5px; }

.nl--contact-us .contact .nl--icon-line-top:after {
  content: "";
  height: 96px;
  width: 5px;
  position: relative;
  left: 45px;
  /* top: 0px; */
  bottom: 0;
  display: flex;
  border-left: 1px solid #dbdbdb;
  margin-bottom: -69px;
  margin-top: 2px; }

.nl--contact-us .contact form {
  padding-left: 35px; }
  .nl--contact-us .contact form input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #a09f9f;
    border-radious: 0;
    border-radius: 0px; }
    .nl--contact-us .contact form input:focus {
      border-bottom: 1px solid #000;
      color: #000;
      box-shadow: none; }
  .nl--contact-us .contact form textarea {
    border: none;
    border-bottom: solid 1px #a09f9f;
    border-radious: 0;
    border-radius: 0px; }
    .nl--contact-us .contact form textarea:focus {
      border-bottom: 1px solid #000;
      color: #000;
      box-shadow: none; }
  .nl--contact-us .contact form button {
    background-color: black;
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid transparent; }
    .nl--contact-us .contact form button:hover {
      color: #000;
      background: #fff;
      border: 1px solid #000; }

.nl--contact-us .contact p {
  width: 76%; }

.nl--contact-us .nl--icon-line-left:after {
  content: "";
  height: 0px;
  width: 145%;
  position: relative;
  left: 0;
  bottom: 0;
  top: 109px;
  display: flex;
  border-left: 1px solid #dbdbdb;
  /* margin-bottom: 0px; */
  margin-top: 2px;
  margin-left: -89px; }

.nl--contact-us .icon-size {
  font-size: 37px;
  padding-right: 0px;
  text-align: right; }

.nl--contact-us .get-touch {
  padding: 69px 0px 0px 0px; }

.nl--contact-us .map-contactus {
  height: 500px; }

/* --------------------------------------------------------
   Listing styles
   -------------------------------------------------------- */
.nl--listing-page .search-section {
  background-color: #efefef;
  padding-bottom: 75px;
  padding: 0px 20px 50px; }
.pag{
    display: inline-block;
    margin-bottom: 24px;}
.pag a {
  color: #767575;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 26px; }
.link-a{    
text-decoration: none !important;
    color: black !important;}
.link-a:hover{    
text-decoration: none !important;
    color: black !important;}
  .nl--listing-page .search-section h3 {
    padding: 48px 0px 0px;
    margin-bottom: 27px; }
.pagi{
    display: inline-block;
    margin-bottom: 24px;}
.pagi a {
  color: #767575;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 26px; }
  .nl--listing-page .search-section h3 {
    padding: 48px 0px 0px;
    margin-bottom: 27px; }
  .nl--listing-page .search-section input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 15px;
    text-indent: 17px; }
  .nl--listing-page .search-section select {
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 15px;
    text-indent: 17px; }
  .nl--listing-page .search-section .range-background {
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 7px 17px 0px; }
    .nl--listing-page .search-section .range-background label {
      float: right;
      margin-top: 5px; }
.searchbtn {
    background: #111111;
    color: #fff;
    width: -webkit-fill-available;
    height: 45px;
    border: none;
}

.nl--listing-page .categories-portion {
  margin-top: 42px; }
  .nl--listing-page .categories-portion h3 {
    padding: 0px 0px 0px; }
  .nl--listing-page .categories-portion .cat-ul li {
    padding-left: 0px;
    border: none;
    background-color: #efefef; }
    .nl--listing-page .categories-portion .cat-ul li span {
      float: right; }
  .nl--listing-page .categories-portion .cat-ul input {
    height: 19px;
    width: 6%;
    margin-right: 11px;
    block-size: 18px; }

.nl--listing-page .saleprice-portion {
  margin-top: 42px; }
  .nl--listing-page .saleprice-portion h3 {
    padding: 0px 0px 0px; }
  .nl--listing-page .saleprice-portion .price-section input {

    height: 50px;
    margin-right: 9px;
    border: none;
    text-indent: 17px; }

.nl--listing-page .bedroom-portion {
  margin-top: 45px; }
  .nl--listing-page .bedroom-portion h3 {
    padding: 0px 0px 0px; }
  .nl--listing-page .bedroom-portion .bed-section input {
 
    height: 50px;
    margin-right: 9px;
    border: none;
    text-indent: 17px; }

.nl--listing-page .bathroom-portion {
  margin-top: 45px; }
  .nl--listing-page .bathroom-portion h3 {
    padding: 0px 0px 0px; }
  .nl--listing-page .bathroom-portion .bath-section input {

    height: 50px;
    margin-right: 9px;
    border: none;
    text-indent: 17px; }

.nl--listing-page .property-type-portion {
  margin-top: 45px; }
  .nl--listing-page .property-type-portion h3 {
    padding: 0px 0px 0px; }
  .nl--listing-page .property-type-portion .type-ul li {
    padding-left: 0px;
    border: none;
    background-color: #efefef; }
  .nl--listing-page .property-type-portion .type-ul input {
    height: 19px;
    width: 6%;
    margin-right: 11px;
    block-size: 18px; }

.nl--listing-page .new-homes-portion {
  margin-top: 45px; }
  .nl--listing-page .new-homes-portion h3 {
    padding: 0px 0px 0px; }
  .nl--listing-page .new-homes-portion .homes-ul li {
    padding-left: 0px;
    border: none;
    background-color: #efefef; }
  .nl--listing-page .new-homes-portion .homes-ul input {
    height: 19px;
    width: 6%;
    margin-right: 11px;
    block-size: 18px; }

.nl--listing-page .search-button {
    width: 100%;
    background-color: black;
    padding: 14px 112px;
    margin-left: 0px;
    margin-top: 45px;
}
  .nl--listing-page .search-button a {
    color: white !important; }

.nl--listing-page .listing-section {
  padding-left: 5px;
  padding-right: 0px; }
  .nl--listing-page .listing-section .property {
    margin-top: 15px; }
    .nl--listing-page .listing-section .property img {
      width: 100%; }
    .nl--listing-page .listing-section .property .row {
      padding-top: 23px;
      padding-left: 14px; }
    .nl--listing-page .listing-section .property .property-detail {
      padding: 1px 0px 5px 4px;
      line-height: initial; }
      .nl--listing-page .listing-section .property .property-detail span {
        color: #969191;
        font-style: unset; }
      .nl--listing-page .listing-section .property .property-detail .span2 {
        color: #2c4362;
        font-size: 25px; }
      .nl--listing-page .listing-section .property .property-detail hr {
        width: 84%;
        margin-top: 8px;
        margin-left: 0px; }
    .nl--listing-page .listing-section .property hr {
      width: 100%;
      margin-top: 8px; }
    .nl--listing-page .listing-section .property ul {
      width: 100%; }
      .nl--listing-page .listing-section .property ul li {
        margin-right: 40px;
        width: max-content;
        display: inline-block;
        margin-bottom: 10px; }
        .nl--listing-page .listing-section .property ul li i {
          margin-right: 10px; }
  .nl--listing-page .listing-section h3 {
    margin-bottom: 34px; }
  .nl--listing-page .listing-section span {
    color: #969191;
    font-style: italic; }
  .nl--listing-page .listing-section label {
    color: #969191; }
  .nl--listing-page .listing-section .drpdown {
    float: right;
    outline: none; }
    .nl--listing-page .listing-section .drpdown select {
      border: none;
      outline: none; }
      .nl--listing-page .listing-section .drpdown select option {
        border: none; }

.i-spn {
  margin-left: 0px !important; }

.pagination {
  display: inline-block;
  margin-bottom: 24px; }

.pagination a {
  color: #767575;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 26px; }

.active {
  text-decoration: underline !important; 
color:black !important;}

input[type=range] {
  -webkit-appearance: none;
  margin: 13.8px 0;
  width: 60%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: #454141;
  border: 0.2px solid #010101; }

input[type=range]::-webkit-slider-thumb {
  height: 36px;
  width: 10px;
  background: #454141;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #454141;
  width: 80%; }

input[type=range]::-moz-range-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: #454141;
  border: 0.2px solid #454141; }

input[type=range]::-moz-range-thumb {
  border: 1px solid #454141;
  height: 36px;
  width: 10px;
  background: #454141;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 80%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #454141;
  border: 0.2px solid #454141; }

input[type=range]::-ms-fill-upper {
  background: #454141;
  border: 0.2px solid #454141; }

input[type=range]::-ms-thumb {
  border: 1px solid #454141;
  height: 36px;
  width: 10px;
  background: #454141;
  cursor: pointer;
  height: 8.4px; }

input[type=range]:focus::-ms-fill-lower {
  background: #454141; }

input[type=range]:focus::-ms-fill-upper {
  background: #454141; }

/* --------------------------------------------------------
   Listing detail styles
   -------------------------------------------------------- */
.nl--summery .summery-hr {
  width: 6%;
  padding-top: 23px;
  -webkit-transform: rotate(90deg); }

.nl--summery p {
  color: #0000008a; }

.nl--summery .summery-image {
  height: 50px; }

.nl--summery .summery-text-box {
  width: 88%;
  height: 310px;
  background-color: #423d3ddb; }
  .nl--summery .summery-text-box h4 {
    color: white;
    padding: 14px 32px }
  .nl--summery .summery-text-box hr {
    border-color: #f8f9fa;
    width: 76%;
    margin-top: -17px; }
  .nl--summery .summery-text-box table {
    color: white;
    margin: auto;
    cellspacing: 10; }
  .nl--summery .summery-text-box td {
    padding: 2px 11px; }

.nl--summery .nl--download-button {
  background-color: black;
  width: 88%;
  margin-top: 6px;
  height: 50px;
  padding: 14px 55px; }
  .nl--summery .nl--download-button a {
    color: white; }

.nl--summery .nl--register-button {
  background-color: #2c4362;
  width: 88%;
  margin-top: 6px;
  height: 49px;
  padding: 14px 55px; }
  .nl--summery .nl--register-button a {
    color: white; }

.nl--property-detail {
  padding: 56px 6px; }
  .nl--property-detail .description p {
    color: #00000080;
    width: 92%; }
  .nl--property-detail .description hr {
    margin: 30px 0px 32px; }
  .nl--property-detail .features hr {
    width: 94%;
    margin: 30px 0px 32px; }
  .nl--property-detail .features ul {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    list-style: none;
    margin: 0px -42px; }
    .nl--property-detail .features ul li {
      display: block;
      margin-bottom: 10px; }
      .nl--property-detail .features ul li::before {
        content: "\f05d";
        color: #81b800;
        margin-right: 5px; }
  .nl--property-detail .nl--inquire-button {
    background-color: black;
    height: 53px;
    width: 50%;
    padding: 14px 70px;
    margin-top: 50px; }
    .nl--property-detail .nl--inquire-button a {
      color: white; }

.nl--location-portion {
  margin-bottom: 6%; }
  .nl--location-portion .location hr {
    margin-bottom: 27px; }
  .nl--location-portion .location .map {
    margin: 0;
    padding: 0;
    height: 85%; }
  .nl--location-portion .for-plan img {
    margin-top: 12px; }

.nl--related-properties hr {
  width: 77%;
  margin-left: 0px; }

.nl--agents {
  margin-bottom: 50px; }
  .nl--agents img {
    margin: 5px 6px 0px; }
  .nl--agents .nl--agents-section {
    margin-top: 35px; }
    .nl--agents .nl--agents-section p {
      color: #000000cf; }
    .nl--agents .nl--agents-section hr {
      margin: 40px -9px; }
    .nl--agents .nl--agents-section .heading {
      margin: -9px; }
  .nl--agents .detail {
    margin-left: -26px; }
    .nl--agents .detail h4 {
      padding-top: 9px; }
    .nl--agents .detail p {
      margin: -3px 0px 10px;
      color: #000000b5; }
  .nl--agents .social-links {
    float: right;
    margin-top: -34px; }
    .nl--agents .social-links ul {
      list-style: none;
      display: inline-flex; }
      .nl--agents .social-links ul li {
        padding-left: 13px; }

.post {
  color: #00000080; }

.nl--request-button {
  background-color: #2c4362;
  height: 51px;
  width: 39%;
  padding: 14px 38px;
  margin-top: 4px; }
  .nl--request-button a {
    color: white; }

.prp-hr {
  width: 114% !important;
  margin-left: -21px !important; }
/* --------------------------------------------------------
   project_layout2 styles starts
   -------------------------------------------------------- */
  .nl--project_layout2-desc-a_1 {
    background: #111111 !important;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 15px 44px !important;
    display: inline-block;
    text-transform: uppercase;
}
.nl--project_layout2-desc-a_1:hover {
    background: #fff !important;
    border: 1px solid #111111 !important;
    color: #111111 !important;
    text-decoration: none; 
}
  .nl--project_layout2-desc-a_2 {
    background: #0d0d0dbf !important;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 15px 44px !important;
    display: inline-block;
    text-transform: uppercase;
}
.nl--project_layout2-desc-a_2:hover {
    background: #fff !important;
    border: 1px solid #111111 !important;
    color: #111111 !important;
    text-decoration: none;
}
.nl--project-layout2-h5{
  color:white;
}
  .nl--project_layout2-payment-a_2 {
    background: white !important;
    border: 1px solid #fff;
    color: black;
    text-decoration: none;
    padding: 15px 44px !important;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
}
.nl--project_layout2-payment-a_2:hover {
    background: black !important;
    border: 1px solid #111111 !important;
    color: white !important;
    text-decoration: none;
}

   /* --------------------------------------------------------
   project_layout2 styles ends
   -------------------------------------------------------- */

/* --------------------------------------------------------
   Projects styles
   -------------------------------------------------------- */
.nl--projects .grey-text {
  color: #727272; }

.nl--projects .row .nl--project-desc p {
  padding: 0 60px 0 15px;
  text-align: justify; }

.nl--projects .row .nl--project-desc .nl-project-services {
  list-style: none; }
  .nl--projects .nl--project-desc .nl-project-services li {
    display: inline-block; }

.nl--projects .nl--project-desc a {
  background: #111111;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 15px 55px;
  display: inline-block;
  text-transform: uppercase; }
  .nl--projects .nl--project-desc a:hover {
    background: #fff;
    border: 1px solid #111111;
    color: #111111; }

.nl-project-options {
  list-style: none;
  margin: 0;
  padding: 0; }
  .nl-project-options li {
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid #717171;
    color: #717171;
    padding: 0 10px;
    font-size: 12px; }
    .nl-project-options li:last-child {
      border: none; }
    .nl-project-options li:first-child {
      padding-left: 0; }
    .nl-project-options li a {
      color: #717171;
      text-decoration: none;
      background-color: transparent;
      -webkit-text-decoration-skip: objects; }

.nl--project-form {
  background: #111111;
  padding: 55px 25px 25px 25px; }
  .nl--project-form input[type="text"] {
    border-radius: 0;
    border: none; }
  .nl--project-form textarea {
    border-radius: 0;
    border: none; }
  .nl--project-form input[type="submit"] {
    border-radius: 0;
    border: none; }
    .nl--project-form input[type="submit"]:hover {
      background: #111111;
      border: 1px solid #fff;
      color: #fff; }
  .nl--project-form span p {
    margin: 0; }

.nl-project-gallery .nav-tabs {
  border: none; }
  .nl-project-gallery .nav-tabs .nav-item {
    background: transparent; }
    .nl-project-gallery .nav-tabs .nav-item .nav-link {
      color: #545252; }
      .nl-project-gallery .nav-tabs .nav-item .nav-link:hover {
        border: 1px solid transparent;
        color: #fff; }
    .nl-project-gallery .nav-tabs .nav-item .active,.nl-project-gallery .nav-tabs .nav-item .active:focus,.nl-project-gallery .nav-tabs .nav-item .active:visited {
      background: transparent;
      color: white !important;
      border: 1px solid transparent  !important; }

#myCarousel,
#myCarousel .carousel-inner,
#myCarousel .carousel-inner > .carousel-item {
  overflow: hidden; }

#myCarousel .carousel-inner > .carousel-item.active,
#myCarousel .carousel-inner > .carousel-item-next {
  display: flex;
  flex-wrap: nowrap;
  width: auto; }

#myCarousel .carousel-inner:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 82%;
  left: 0;
  content: "";
  display: block;
  z-index: 2; }

#myCarousel .carousel-inner:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 82%;
  content: "";
  display: block;
  z-index: 2; }

.nl-pricing-plan {
  list-style: none;
  display: inline-table;
  padding: 0;
  width: 100%; }
  .nl-pricing-plan li {
    width: 20%;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: inline-grid;
    text-align: center;
    font-size: 38px;
    padding: 30px 0px; }
    .nl-pricing-plan li span {
      font-size: 20px;
      text-transform: uppercase;
      color: #dbdbdb;
word-break: break-word;
 }

.nl-pricing-plan li:nth-child(5n+1):nth-last-child(-n+5),
li:nth-child(5n+1):nth-last-child(-n+5) ~ li {
  border-bottom: none; }

.nl-pricing-plan li:nth-child(1), .nl-pricing-plan li:nth-child(5n+1) {
  border-left: none; }

.nl--projects .map-contactus {
  height: 365px;
  margin-top: 8px; }

.nl-project-nearby {
  list-style: none;
  column-count: 2; }
  .nl-project-nearby li {
    color: #fff;
    margin-bottom: 5px; }

.projects-testimonisl .brands_col {
  color: #000; }

.projects-testimonisl a {
  background: #111111;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 15px 55px;
  display: inline-block;
  text-transform: uppercase; }
  .projects-testimonisl a:hover {
    background: #fff;
    border: 1px solid #111111;
    color: #111111; }

/* --------------------------------------------------------
   Team styles
   -------------------------------------------------------- */
.nl--team span {
  color: #0000004d; }

.nl--team p {
  color: #9fa4af; 
  text-align:justify; /**********by bk*******/
  }

.nl--team sub {
  bottom: 0px !important;
  font-size: 22px; }

.nl--team h2 {
  font-size: 55px; }

/* --------------------------------------------------------
   Responsive
   -------------------------------------------------------- */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media only screen and (min-width: 1801px) and (max-width: 2560px){
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 140px;
    margin-left: 17px;
    width: 1061px;
    padding: 16px 21px 6px 30px;
    color: #666666;
    border-radius: 5px; }
  .nl--slider-form {
    background: #111111;
    padding: 75px 25px 50px 25px;
    width: 22%;
    position: absolute;
    right: 22.5%;
    top: 19%; }
  .carousel-inner .carousel-item .caption {
    position: absolute;
    top: 23%;
    left: 22%;
    width: 26%;
    padding: 30px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s; } }

@media only screen and (min-width: 1601px) and (max-width: 1800px){
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 70px;
    margin-left: 17px;
    width: 1061px;
    padding: 16px 21px 6px 30px;
    color: #666666;
    border-radius: 5px; }
  .nl--slider-form {
    background: #111111;
    padding: 36px 25px 25px 25px;
    width: 542px;
    position: absolute;
    right: 266px;
    top: 219px; }
  .carousel-inner .carousel-item .caption {
    position: absolute;
    top: 23%;
    left: 255px;
    width: 26%;
    padding: 30px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s; } }

@media only screen and (min-width: 1481px) and (max-width: 1600px) {
  .carousel-inner .carousel-item .caption {
    left: 184px; }
  .nl--slider-form {
    background: #111111;
    padding: 27px 25px 9px 25px;
    width: 515px;
    position: absolute;
    right: 192px;
    top: 208px; }
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 90px;
    margin-left: 20px;
    width: 1062px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px; } }

@media only screen and (min-width: 1371px) and (max-width: 1480px){
    .nl--slider-form{padding: 20px 25px 0px 25px;}
    .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 20px;
    margin-left: -15px;
    width: 79%;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px; } 

}

@media only screen and (width: 1366px) and (height: 768px) {
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 19px;
    margin-left: -14px;
    width: 1126px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px; } }

@media only screen and (width: 1366px) {
  .carousel-inner .carousel-item .caption {
    left: 141px; }
  .nl--slider-form {
    background: #111111;
    padding: 27px 25px 9px 25px;
    width: 450px;
    position: absolute;
    right: 150px;
    top: 208px; }
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 34px;
    margin-left: -14px;
    width: 1126px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px; } }

@media only screen and (width: 1281px) {
  .nl--slider-form {
    background: #111111;
    padding: 27px 25px 9px 25px;
    width: 515px;
    position: absolute;
    right: 195px;
    top: 207px; }
  .carousel-inner .carousel-item .caption {
    position: absolute;
    top: 30%;
    left: 180px;
    width: 33%;
    padding: 30px;
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    transition: 0.5s; }
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 90px;
    margin-left: 21px;
    width: 1057px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px; } }

/* --------------------------------------------------------
   builder projects styles
   -------------------------------------------------------- */
.nl--builder_projects {
  background: #f8f8f8; }

.nl--project-detail-btn {
  background: black;
  color: white; }
  .nl--project-detail-btn:hover {
    background: white;
    border: 1px solid black; }
    .nl--project-detail-btn:hover a {
      color: black;
      text-decoration: none; }
  .nl--project-detail-btn a {
    color: white; }

/* --------------------------------------------------------
   builders styles
   -------------------------------------------------------- */
.nl--builders {
  list-style: none;
  display: inline-table;
  padding: 0;
  width: 100%; }
  .nl--builders li {
    width: 33.33%;
    border-left: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: inline-grid;
    text-align: center;
    font-size: 38px;
    padding: 30px 0px; }
    .nl--builders li span {
      font-size: 20px;
      text-transform: uppercase;
      color: #dbdbdb; }

.nl--builders li:nth-child(1), .nl--builders li:nth-child(3n+1) {
  border-left: none; }

.nl--builders li:nth-child(3n+1):nth-last-child(-n+3), .nl--builders li:nth-child(3n+1):nth-last-child(-n+3) ~ li {
  border-bottom: none; }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* Home Page*/
  .navbar-brand img {
    width: 65px; }
  #demo {
    margin-top: -7px; }
  .nl--filter-form {
    position: relative;
    bottom: -19px;
    margin-left: auto;
    width: 100%;
    padding: 17px 0px 9px 0px; }
  .nl-form-drager {
    display: block;
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bolder;
    top: 109px; }
  .nl--slider-form {
    padding: 12px;
    width: 96%;
    right: 0;
    top: 15%;
    left: 6px;
    position: fixed;
    z-index: 11;
    display: none; }
  .carousel-inner .carousel-item .caption {
    top: 5%;
    left: 19%;
    width: 59%; }
  .nl--slider-form {
    top: 18%;
    left: 14px; }
  .nl--event i {
    text-align: center; }
  .nl--event .heading {
    border: none;
    width: 100%;
    text-align: center;
    display: inline-block; }
  .nl--event .desc {
    width: 100%;
    text-align: center;
    display: inline-block; }
  .nl--event a {
    display: inline-block;
    text-align: center;
    width: 100%; }
  .nl--card-personal .link {
    margin: 50% 15%; }
  /* About page */
  .nl--about-us .proj-detail h3 {
    font-size: 24px; }
  .nl--about-us .proj-detail h2 {
    font-size: 26px; }
  .nl--about-us .proj-detail h6 {
    font-size: 13px; }
  .nl--about-us .subscribe-section h2 {
    font-size: 24px; }
  .nl--about-us .subscribe-section form button {
    width: 35%; }
  /* team */
  .nl--team h2 {
    font-size: 30px; }
  /* Contact  */
  .nl--contact-us .contact p {
    width: 100%; }
	.nl--filter-form .search-btn {
		height:50px;
		padding-top:0px;
	}
	/*********to solve img icon on inquiry form by bk*********/
	.carousel-inner .carousel-item .caption img {
  position: absolute;
  left: 11%;
  top: 0;
  height: 40%;
  width: 12%; }
	}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width:481px) and (max-width: 991px) {
.nl--menu{
    margin-top:0px;
}
.navbar-brand img{
    width: 65px;
}
#demo {
    margin-top: 0px;
}
}
@media (min-width: 320px) and (max-width: 480px) {
	/*for view projects on project detail */
	.nl--project-detail-btn
	{
		padding:3%;
	}
  /* Home Page */
  .navbar-brand img {
    width: 40px;
    margin-top: -10px; }
  #demo {
    margin-top: -8px; }
  .carousel-inner .carousel-item .caption {
    display: none; }
  .nl-form-drager {
    display: block; }
  .nl--slider-form {
    padding: 12px;
    width: 96%;
    right: 0;
    top: 15%;
    left: 6px;
    position: fixed;
    z-index: 11;
    display: none; }
  .nl--filter-form {
    position: relative;
    bottom: 0;
    margin-left: 0;
    width: 100%;
    padding: 17px 21px 9px 21px; }
    .nl--filter-form .search-btn {
      margin-top: 16px; }
  .nl--menu {
    margin-top: 0px; }
    .nl--menu .navbar-nav .nav-item:hoverafter {
      width: 26%;
      margin: auto 16px; }
  .navbar .mega-dropdown .dropdown-menu.mega-menu {
    margin-top: -25px; }
  .nl--cards-button {
    text-align: center; }
    .nl--cards-button a {
      padding: 14px 15px; }
  .nl-black-background {
    font-size: 12px; }
  .nl--projects {
    text-align: center; }
    .nl--projects .text-left {
      text-align: center !important; }
  .nl--card-personal {
    margin-right: 0; }
    .nl--card-personal .card-body span {
      margin-left: 3px;
      font-size: 13px; }
  .nl--testimonials .nl--icon-box i {
    margin-top: 27px;
    margin-bottom: 27px;
    margin-left: 0; }
  .nl--testimonials .font-weight-bold {
    font-size: 16px; }
  .nl--testimonials .brands_col .row .name {
    text-align: center; }
  .nl--invest .nl--icon-box i {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0; }
  .nl--invest .text-white {
    margin-top: 20px;
    font-size: 14px;
    text-align: center; }
  .nl--invest .grey-text {
    font-size: 12px;
    width: 100%;
    text-align: justify; }
  .nl--invest .nl--invest-button {
    text-align: center; }
  .nl--event i {
    text-align: center; }
  .nl--event .heading {
    border: none;
    width: 100%;
    text-align: center;
    display: inline-block; }
  .nl--event .desc {
    width: 100%;
    text-align: center;
    display: inline-block; }
  .nl--event a {
    display: inline-block;
    text-align: center;
    width: 100%; }
  .nl--footer {
    text-align: center; }
    .nl--footer .about-nl {
      margin-top: 16px; }
    .nl--footer .latest-properties p {
      width: 71%;
      margin-left: 6px; }
    .nl--footer .latest-properties img {
      margin-bottom: 0px; }
    .nl--footer .nl--useful-links, .nl--footer .nl--partners, .nl--footer .latest-properties {
      margin-top: 25px; }
      .nl--footer .nl--useful-links hr, .nl--footer .nl--partners hr, .nl--footer .latest-properties hr {
        margin-left: auto; }
    .nl--footer .nl--useful-links {
      padding-left: 15px; }
      .nl--footer .nl--useful-links h5, .nl--footer .nl--useful-links ul, .nl--footer .nl--useful-links p {
        margin-left: auto; }
  /* About Page */
  .nl--about-us .nl--help-section .heading-text {
    text-align: center; }
    .nl--about-us .nl--help-section .heading-text p {
      width: 100%; }
  .nl--about-us .nl--help-section .description p {
    text-align: justify; }
  .nl--about-us .service-section .row .heading h2 {
    font-size: 28px; }
  .nl--about-us .subscribe-section h2 {
    font-size: 20px;
    text-align: center; }
  .nl--about-us .subscribe-section form button {
    width: 35%; }
  .nl--about-us .proj-detail .float-right {
    text-align: center;
    float: unset !important;
    margin: 18px auto; }
  .nl--about-us .proj-detail h3 {
    font-size: 22px; }
  /*  Team Page  */
  .detail {
    text-align: center; }
    .detail h2 {
      font-size: 30px; }
  /* Contact Page */
  .nl--contact-us .contact .nl--icon-box i {
    margin-top: 30px;
    margin-bottom: 20px; }
  .nl--contact-us .contact .nl--icon-box h3 {
    font-size: 24px; }
  .nl--contact-us .contact p {
    text-align: center;
    width: 100%; }
  .nl--contact-us .contact form {
    padding-left: 15px; }
  .nl--contact-us .icon-size {
    text-align: center;
    margin: 20px 0; }
  .nl--contact-us .get-touch {
    padding: 12px; } 
.media{
display:block;
}
.nl--listing-page .listing-section .property .property-detail{
display:flex;
width:100%;
padding: 1px 0px 5px 0px;
}
.nl--listing-page .listing-section .property ul li{
/*width:100%;*/
max-width: 100%;
    font-size: 13px;
    line-height: 25px;
}
.nl--listing-page .listing-section{
padding-left:unset;}
.nl--listing-page .listing-section span{
    padding-left: 13px;
    font-size: 14px;
}
.nl--listing-page .listing-section label{
    font-size: 10px;
}
.nl--listing-page .listing-section .drpdown select{
    font-size: 10px;
}
.media-heading{
    text-align:center;
}
.media-body p,.media-body span{
   font-size: 10px;
}
.act_a{
width:100%;}
.i-spn{
margin-left:0 !important;}
}

@media only screen and (width: 1280px) and (height: 950px) {
  .nl--filter-form {
    background: #fff;
    position: absolute;
    bottom: 219px;
    margin-left: 30px;
    width: 1041px;
    padding: 17px 21px 9px 30px;
    color: #666666;
    border-radius: 5px; } }

@media only screen and (max-width: 425px){
.nl-pricing-plan li span{
    font-size: 13px;
}
.nl-pricing-plan li{
    font-size: 20px;
    padding: 15px 0px;
}
.nl--icon-box,.nl--projects .nl--project-desc .nl-project-services, .nl-pricing-plan {display: none;}
.nl---Download_payment_a{
    background: #111111;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 15px 55px;
    display: inline-block;
    text-transform: uppercase;
    display: block;
}
.projects-testimonisl a{
    width: 100%;
    text-align: center;
}
}
/****************by bk ******/
.text-justify
{
	text-align:justify;
}