
.nl--icon-line-left{
	&:after{
    content: "";
    height: 5px;
    width: 200%;
    position: relative;
    left: -130px;
    top: 50px;
    bottom: 0;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
	}
}
.nl--icon-line-top{
	&:after{
    content: "";
    height: 90px;
    width: 5px;
    position: relative;
    left: 42.5px;
    top: 0px;
    bottom: 0;
    display: flex;
    border-left: 1px solid #dbdbdb;
    margin-bottom: -5px;
    margin-top: -85px;

	}
}
.nl--projects{
	.nl--icon-box{
		i{
			border: 1px solid #dbdbdb;
		    padding: 25px;
		    text-align: center;
		    border-radius: 4px;
		    color: #dbdbdb;
		    font-size: 30px;
		    margin-top: 5px;
		}

	}
}

.nl--card-personal{
	margin-right: 32px;
	
	.card-body{
	    border-left: 1px solid rgba(0,0,0,.125);
	    span{
			margin-left: 8px;
		    color: #00000075;
		}

			i{
			color: #00000075;
		    margin-right: 7px;
		}

			.card-text{
			color:#000000bf;
		}
	}

	.link{

	  	overflow: hidden;
	    cursor: pointer;
	    color: #f8f9fa;
	    position: absolute;
	    margin: auto;
	    margin: 50% 28%;
	    background-color: black;
	    padding: 10px 14px;
	    display:none;
	    text-decoration: none;
	} 

	&:hover .link {
    	display:block;
	}

	&:hover .card-body{
	    box-shadow: 0px 4px 25px 2px rgba(0,0,0,0.125);
	}

	hr {
	    width: 100%;
	    margin-left: -20px;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	    border: 0;
	    border-top: 1px solid rgba(0,0,0,.1);
	}
	.location{    
	background-color: black;
    color: white;
    padding: 16px;
	}
}


.nl--cards-button{
    padding-left: inherit;
}
.nl--cards-button{
	a{
	background-color: #2c4362;
    color: white;
    padding: 25px 55px;
    border-radius: 3px;
    text-decoration:none;
    text-transform:uppercase;

	}
}
.nl--testimonials{
    height: auto;
    margin-bottom: 50px;
    position:relative;
    padding-top: 35px;
    .nl--icon-box{
    	i{
		    border: 1px solid #dbdbdb;
		    padding: 25px;
		    text-align: center;
		    border-radius: 0px;
		    color: #dbdbdb;
		    font-size: 30px;
		    margin-top: 5px;
		    margin-bottom: 73px;
		    margin-left: 5px;
    	}
    }
 
    .font-weight-bold{
      text-transform:uppercase;
    }
    .grey-text{
      color:#616161;
    }
    .text-left {
   		color:white;
    }
    .nl--testimonial-button{
    
     a{
    	background-color: #2c4362;
        color: white;
        padding: 15px 32px;
        border-radius: 3px;
    	}
    }
    .brands_col{
      .row{
        p{
          text-align:left;
          font-size: 13px;
        }
        .name{
          text-transform:uppercase;
        }
      }
    } 
}
$font-primary: #3d3d3d;


.card {
          
  .carousel-item {
    height: 200px;
  }
  .carousel-caption {
    padding: 0;
    right: 0;
    left: 0;
    color: $font-primary;
    h3 {
      color: $font-primary;
    }
    p {
      line-height: 30px;
    }
    .col-sm-3 {
      display: flex;
      align-items: center;
    }
    .col-sm-9 {
      text-align: left;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    color: $font-primary!important;
    opacity: 1!important;
  }
}


/* Carosal/slider for testimonials */

.brands_col {
    float: left;
    padding: 0 0px;
    text-align: center;
    width: 100%;
    color:#fff;
}
.brands_col img {
    opacity: 1;
}

.brands_col img:hover {
   
    opacity: unset;
}

.last_slider .owl-buttons {
    position: absolute;
    right: 0;
    top: -42px;
    width: auto;
    z-index: 50;
    display: none;
}
.last_slider .owl-prev {
    background-color: #005EB8;
    border-radius: 0px;
    color: #fff;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 9px;
}
.last_slider .owl-next {
    background-color: #005EB8;
    border-radius: 0;
    color: #fff;
    float: right;
    margin: 0;
    padding: 5px 9px;
}
.last_slider .owl-prev:hover {
    background: #083d77 none repeat scroll 0 0;
    color: #fff;
}
.last_slider .owl-next:hover {
    background: #083d77 none repeat scroll 0 0;
    color: #fff;
}

.owl-carousel .owl-wrapper::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    transition: height 500ms ease-in-out 0s;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer; display: none;
}
.owl-controls {
    -moz-user-select: none;
}
.grabbing {
    cursor: url("grabbing.png") 8 8, move;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
}




/*************************
ooooowwwwwwllll end
*************************/



.nl--invest{
	width:100%;
  background:url('../img/invest-bg.png');
  height: max-content;
  background-size: cover;
  background-repeat:no-repeat;
  padding-top: 1px;
	.nl--icon-box{
      i{
        border: 1px solid #dbdbdb;
        padding: 25px;
        text-align: center;
        border-radius: 0px;
        color: #dbdbdb;
        font-size: 30px;
        margin-top: 69px;
        margin-bottom: 73px;
        margin-left: 5px;
      }
    }

    .nl--icon-line-top{
      &:after{
        content: "";
        height: 96px;
        width: 5px;
        position: relative;
        left: 46px;
        top: 0px;
        bottom: 0;
        display: flex;
        border-left: 1px solid #dbdbdb;
        margin-bottom: -69px;
        margin-top: 30px;

      }
    }
    .grey-text{
      color:#616161;
      font-size: 12px;
      width: 85%;
    }
    .text-white{
          margin-top: 75px;
          text-transform:uppercase;
    }
    .nl--invest-button {
    padding-bottom: 30px;
      a{
        background-color:#000;
        color:#fff;
        border:.5px solid #fff;
        padding:8px 25px;
        text-decoration:none;
        &:hover{
          background-color:#fff;
          color:#000;
          border:.5px solid #000;
        }
      }
    }
}

.nl--event{
  .heading{
    font-size:35px;
    border-right:2px solid #111;
  }
  .desc{
    font-size:18px;
  }
  a{
    color:#59a6f9;
    text-decoration:underline;
    font-size:18px;
  }
}

