*{
	font-family: 'Lato', sans-serif;
	font-weight:regular;
}
.navbar{
	box-shadow: unset;
	background: transparent;
	z-index:9;
}
.navbar-brand img{
	width: 123px;
}
.navbar .nav-item .nav-link{
	color: #000;
	font-weight: 400;
}
.nl--menu{
    margin-top: -45px;
	.navbar-nav{
		.nav-item{
			.nav-link{
				padding: .1rem 1rem;
			}
			&:hover:after {
		        height: 2px;
			    display: block;
			    width: 60%;
			    background: #808080;
			    border-right: 1px white;
			    content: '';
			    margin:auto;
	    	}
		}
	}
	
}
.navbar .mega-dropdown{
	position:static!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu{
	width:100%;border:none;-webkit-border-radius:0;border-radius:0;margin-top: -98px;
}

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .news-title{
	font-size:1.1rem;-webkit-transition:.2s;-o-transition:.2s;transition:.2s
}

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .news-title.smaller{
	font-weight:400;font-size:1rem;line-height:1.4
}

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .sub-title{
	border-bottom:1px solid #e0e0e0
}
.nav-item.dropdown.mega-dropdown.active {
    &:after {
        height: 2px;
	    display: block;
	    width: 60%;
	    background: #808080;
	    border-right: 1px white;
	    content: '';
	    margin:auto;
    }

} 


.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a{
	width:100%;-webkit-transition:.3s;-o-transition:.3s;transition:.3s
}

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a:hover{
	background-color:transparent;-webkit-transition:.3s;-o-transition:.3s;transition:.3s
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-single{
	border-bottom:1px solid #e0e0e0
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-title{
	color:#4f4f4f!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-title:hover{
	color:#2196f3!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .m-sm{
	margin-bottom:-6px;font-size:.9rem;color:#2196f3!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .m-sm:hover{
	color:#2196f3!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu .news-title{
	color:#000!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu ul li a{
	color:#000!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu ul li a:hover{
	color:#000!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu .sub-title{
	padding-bottom:1rem;margin-bottom:1rem
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu ul li a{
	color:#000!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu ul li a:hover{
	color:#000!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu .news-title{
	color:#000!important
}

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu .news-title:hover{
	color:#e0e0e0!important
}

/*********************** Demo - 15 *******************/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}

.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;height: 107%;margin-bottom: -14px;bottom:0;z-index:1}
.box16 .title{font-size:14px;font-weight:700;text-transform:uppercase;margin:0;text-align: left;}
.box16 .post{display:block;padding:3px 0;font-size:12px;font-style:italic;text-align: left;color: #fff;}
.box16 .post:after{content:"";width:25px;height:2px;background:#f44336;position:absolute;top:29px;bottom:0;left:0;}
.box16 .details{display:none;padding:0px 0;font-size:15px;text-align:left;}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16:hover .title{margin-top: 25%;}
.box16:hover .details{display:block;margin-top: 23px;font-family: lato;}
.box16:hover .post:after{background:#fff;}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}
.box16:hover .box-content{background:#212121;}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}
.nl-black-background{
	background:#212121;
	width:100%;
	display:block;
	position:relative;
	min-height:1px;
}

.nl--achivements{
	position:relative;
	div:nth-last-child(1){
		padding-top:80px;
	}
}

#demo {
	margin-top: -181px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.carousel-inner .carousel-item .caption { 
	position: absolute;
	top: 30%;
  left: 105px;
  width: 466px;
	padding: 30px;
    min-height: 400px;
	background-color: rgba(0,0,0,.5);
	box-sizing:border-box;
	transition: 0.5s;
}
.carousel-inner .carousel-item .caption img{
	position:absolute;
	left: 8%;
    top: 0;
    height: auto;
    width: 73px;
}

.carousel-inner .carousel-item .caption .address{
	position: absolute;
	left: 25%;
    top: 30%;
    font-size: 16px;
    color: #fff;
}

.carousel-inner .carousel-item .caption h2 { 
	position: absolute;
	left: 34px;
    top: 45%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 32px;
	transition: 0.5s;
}
.carousel-inner .carousel-item .caption .desc { 
	position: absolute;
	left: 34px;
    top: 57%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}
.carousel-inner .carousel-item .caption .caption-btn { 
    position: absolute;
    left: 34px;
    top: 78%;
    color: #000;
    background: #fff;
    transition: 0.5s;
    padding: 10px 35px;
    text-transform:uppercase;
    text-decoration:none;
	border:1px solid transparent;
    &:hover{
	    color: #fff;
	    background: #000;
	    border:1px solid #fff;
    }
}
.nl-form-drager{
  display:none;
  background: #111111;
  height: 26px;
  width: 25px;    
  position: absolute;
  right: 5px;
  text-align: center;
  border-radius: 50px;
  top: 62px;
  i{
    color:#fff;
  }
}
.forms_outer{position: absolute; top: 0px; width: 100%;  display: inline-block;}
.nl--slider-form{
  background: #111111;
  padding: 36px 25px 25px 25px;
  width: 542px;
  position: absolute;
  right: 116px;
  top: 162px;
	input[type="text"]{
		border-radius:0;
	    border: none;
	}
	textarea{
		border-radius:0;
	    border: none;		
	}
	input[type="submit"]{
		border-radius:0;
	    border: none;
	}
}

.nl--filter-form{
    background: #fff;
    position: absolute;
    bottom: 70px;
    margin-left: 17px;
    width: 1061px;
    padding: 16px 21px 6px 30px;
    color: #666666;
    border-radius: 5px;
    .search-btn{
    	background:#111111;
    	color:#fff;
    	border-radius:3px;
    	margin-top:-7px;
    }
}





/* Footer Section */
.nl--footer{
  background-color:#212121;
  padding-left: 0px;
  .about-nl{
        margin-top: 56px;
        color:#656565;
        width:100%;
        padding: 0px;
      p{
          margin-bottom: 3px;
      }
      ul{
        list-style:none;
        padding-left: 0px;
        margin-bottom: 4px;
          li{
          padding-top:8px;
            i{
            padding-right: 10px;
            }
          }
      }
  .social-links{
        ul{
            display: -webkit-inline-box;
        }
  }
  img{
      margin-bottom: 6px;
  }
  }
  .latest-properties{
      margin-top: 70px;
           hr{
               border-color: red;
             width: 11%;
             margin-left: 0px;    
             margin-bottom: 26px;
                         margin-top: 25px;

           } 
           h5{
           color:white;
           margin-left: 0px;
           }
           p{
           color:#656565;
               width: 60%;
               margin-left: 20px;
           }
           img{
               margin: 0px;
               margin-bottom: 15px;
           }
  }
  .nl--partners{
        margin-top: 70px;
        hr{
               border-color: red;
             width: 15%;
             margin-left: 0px;
             margin-bottom: 26px;
               margin-top: 25px;

           } 
           h5{
           color:white;
           margin-left: 0px;
           }
           img{
           margin-right:10px;
           }
           .row{
           margin-bottom: 10px;
           }

  }
  .nl--useful-links{
        margin-top: 70px;
        padding-left: 50px;
          hr{
                 border-color: red;
               width: 30%;
               margin-left: -25px;    
               margin-bottom: 26px;
                 margin-top: 25px;

           } 
           h5{
              color: white;
              margin-left: -28px;
           }
           ul{
              color: #656565;
              margin-left: -25px;
              list-style: none;
              padding: 0px;
              li{
                a{
                  color:#656565;
                  text-decoration:none;
                }
              }
           }
           p{
               color: #656565;
             width: 100%;
             margin-left: -25px;

           }
  }
}
.nl--copy-rights{
  background-color:black;
  color:white;
    padding: 20px 0px 1px;
    text-align: center;
}

.team_images{
        padding: .25rem;
          background-color: #fff;
          border-radius: 1.25rem;
          max-width: 100%;
          height: -webkit-fill-available;
  }
  /* Gallery */

/*********************** Demo - 19 *******************/
.box19{text-align:center;position:relative}
.box19 .box-content{width:100%;height:100%;background:0 0;padding-top:50%;position:absolute;top:0;left:0;transition:all .3s ease 0s;border-radius:8px;}
.box19 .icon,.box19 .title{transition:all .2s ease 0s}
.box19:hover .box-content{background:rgba(0,0,0,.5)}
.box19 .title{font-size:24px;color:#fff;transform:scale(0)}
.box19:hover .title{transform:scale(1)}
.box19 .icon{list-style:none;padding:0;margin:0;opacity:0}
.box19:hover .icon{opacity:1}
.box19 .icon li{display:inline-block}
.box19 .icon li a{display:block;width:50px;height:50px;line-height:50px;font-size:24px;color:#fff;position:relative}
.box19 .icon li a{top:-150px}
.box19:hover .icon li a{top:0}
.box19:hover .icon li a:hover{}
.box19 .icon li a{transition:all .6s cubic-bezier(.175,.885,.32,1.275) 0s}
@media only screen and (max-width:990px){.box19{margin-bottom:30px}
}
@media only screen and (max-width:360px){.box19 .box-content{padding-top:20%}
}
/* Gallery */