.nl--projects{
  .grey-text{
      color:#727272;
    }
    .row{

    .nl--project-desc{
      p{
        padding: 0 60px 0 15px;
        text-align: justify;
      }
      .nl-project-services{
        list-style:none;
        li{
          display:inline-block;
        }
      }
      a{
        background:#111111;
        border:1px solid #fff;
        color:#fff;
        text-decoration:none;
        padding:15px 55px;
        display:inline-block;
        text-transform:uppercase;

        &:hover{
          background:#fff;
          border:1px solid #111111;
          color:#111111;
        }
      }
    }  
    
  }
}
.nl-project-options{
  list-style:none;
  margin:0;
  padding:0;
  li{
    display:inline-block;
    text-transform:uppercase;
    border-right:1px solid #717171;
    color:#717171;
    padding:0 10px;
    font-size:12px;
    &:last-child{
      border:none;
    }
    &:first-child{
      padding-left:0;
    }
  }
}
.nl--project-form{
  background:#111111;
  padding:55px 25px 25px 25px;
  input[type="text"]{
    border-radius:0;
      border: none;
  }
  textarea{
    border-radius:0;
      border: none;   
  }
  input[type="submit"]{
    border-radius:0;
    border: none;
    &:hover{
      background:#111111;
      border:1px solid #fff;
      color:#fff;
    }
  }
}

.nl-project-gallery{
  .nav-tabs{
    border:none;
    .nav-item{
      background:transparent;
      .nav-link{
        color:#545252;
        &:hover{
          border:1px solid transparent;
          color:#fff;
        }
      }
      .active{
        background:transparent;
        color:#fff;
        border:1px solid transparent;
      }
    }
  }
}



#myCarousel,
#myCarousel .carousel-inner,
#myCarousel .carousel-inner > .carousel-item {
    overflow: hidden;
}
#myCarousel .carousel-inner > .carousel-item.active,
#myCarousel .carousel-inner > .carousel-item-next {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
}
#myCarousel .carousel-inner:before {
    position:absolute;
    top:0;
    bottom: 0;
    right: 82%;
    left: 0;
    content:"";
    display:block;
    z-index: 2;
}
#myCarousel .carousel-inner:after {
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 82%;
    content:"";
    display:block;
    z-index: 2;
}
.nl-pricing-plan{
  list-style: none;
  display: inline-table;
  padding:0;
  width: 100%;
  li{
    width:20%;
    border-left:1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb;
    display: inline-grid;
    text-align:center;
    font-size: 38px;
    padding:30px 0px;
    span{
      font-size: 20px;
      text-transform: uppercase;
      color:#dbdbdb;      
    }
  } 
}
.nl-pricing-plan li:nth-child(5n+1):nth-last-child(-n+5),
  li:nth-child(5n+1):nth-last-child(-n+5) ~ li {
    border-bottom:none;
}
.nl-pricing-plan li:nth-child(1),.nl-pricing-plan li:nth-child(5n+1){
    border-left:none;
}
.nl--projects .map-contactus {
    height: 365px;
    margin-top: 8px;
}
.nl-project-nearby{
  list-style:none;
  column-count:2;
  li{
    color:#fff;
    margin-bottom:5px;
  }

}

.projects-testimonisl{
  .brands_col{
  color:#000;
  }
   a{
        background:#111111;
        border:1px solid #fff;
        color:#fff;
        text-decoration:none;
        padding:15px 55px;
        display:inline-block;
        text-transform:uppercase;

        &:hover{
          background:#fff;
          border:1px solid #111111;
          color:#111111;
        }
      }
}