/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Homepage styles
   -------------------------------------------------------- */
.navbar {
  box-shadow: unset;
  background: transparent; }

.navbar-brand img {
  width: 123px; }

.navbar .nav-item .nav-link {
  color: #000;
  font-weight: 400; }

.navbar-nav .active a {
  border-bottom: 2px solid #000; }

.navbar .mega-dropdown {
  position: static !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu {
  width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .news-title {
  font-size: 1.1rem;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .news-title.smaller {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu .sub-title {
  border-bottom: 1px solid #e0e0e0; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a {
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a:hover {
  background-color: transparent;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-single {
  border-bottom: 1px solid #e0e0e0; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-title {
  color: #4f4f4f !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .news-title:hover {
  color: #2196f3 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .m-sm {
  margin-bottom: -6px;
  font-size: .9rem;
  color: #2196f3 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-1 .sub-menu .m-sm:hover {
  color: #2196f3 !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu .news-title {
  color: #fff !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu ul li a {
  color: #fff !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu ul li a:hover {
  color: #fff !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-2 .sub-menu .sub-title {
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu ul li a {
  color: #fff !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu ul li a:hover {
  color: #fff !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu .news-title {
  color: #fff !important; }

.navbar .mega-dropdown .dropdown-menu.mega-menu.v-3 .sub-menu .news-title:hover {
  color: #e0e0e0 !important; }

.carousel {
  margin-top: -181px;
  z-index: -1; }

/* --------------------------------------------------------
   About styles
   -------------------------------------------------------- */

